<%- layout('/layouts/boilerplate') %>
<body>
    <div class="heading">
        <h2>All Listings</h2>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" style="margin-left: 2rem; margin-right: 2rem;">
        <% for(let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="col">
                <div class="card h-100">
                    <img src="<%= listing.image %>" class="card-img-top" style="height: 25rem; object-fit: cover;">

                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b><br>
                            ₹ <%= new Intl.NumberFormat("en-IN").format(Number(listing.price)) %> / night
                        </p>
                    </div>
                </div>
            </div>
            </a>
        <% } %>
    </div>
</body>
