<%- layout('/layouts/boilerplate') %>
<div class="row mt-3 mb-3">
    <div class="col-6 offset-3">

        <h2><b><%= listing.title %></b></h2>

    </div>


    <div class="col-6 offset-3">

        <div class="card listing-card">
            <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <p class="card-text">
                    

                    <%= listing.description %>

                    <br>

                    <b>Price:</b> &#x20B9; <%= new Intl.NumberFormat("en-IN", {maximumFractionDigits: 0}).format(Number(listing.price)) %> / Night
                    <!-- "Intl.NumberFormat("en-IN", {maximumFractionDigits: 0}).format(Number(listing.price))" this is the syntax to write a number in indian format(eg: 1,99,999) -->

                    <br>

                    <b>Location:</b> <%= listing.location %>

                    <br>

                    <b>Country:</b> <%= listing.country %>
                </p>
            </div>
        </div>
      

        <div class="btns">
            <a href="/listings" class="btn btn-dark back-btn">Go Back</a>

            <form method="post" action="/listings/<%= listing._id %>/?_method=DELETE">
            <button class="btn btn-dark">Delete</button>
            </form>

            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn">
                Edit
            </a>
        </div>
    </div>
    <div class="col-6 offset-3 mb-3">
        <hr>
        <h4><b>Leave a Review</b></h4>

        <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">
                    Rating: <span id="ratingValue">3</span> ⭐
                </label>

                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" oninput="ratingValue.innerText = this.value">
            </div>

            <div  class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <br>
                <textarea name="review[comment]" id="comment" cols="113" rows="5" class="form-control" placeholder="Write Something" required></textarea>
                <div class="invalid-feedback">Please add some comments for review</div>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-dark">Submit</button>
            </div>

        </form>

        <hr>

        <h4><b>All Reviews</b></h4>
        
        <div class="row">
            <% for(let review of listing.reviews){ %>
            <div class="card col-5 ms-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Subhajit Chakraborty</h5>
                    <p class="card-text"><%= review.comment %></p>
                    <p class="card-text"><%= review.rating %> ⭐</p>
                </div>
             </div>
            <% } %>
        </div>
        
    </div>
</div>
    
